i#logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 103px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform-origin: center;
    overflow: hidden;
    animation: rotate 30s infinite, blink 3s infinite;
    border: none;
}

body {
    height: max-content;
}

#logo:before{
    position: absolute;
    animation: fly 3s infinite;
}
@keyframes fly {
    0% {
        transform: translate(-50%, 0px) scale(1) rotate(0);
    }
    30% {
        transform: translate(200%, 0px) scale(1) rotate(0);
        color: white;
    }
    31% {
        transform: translate(50%, 10px) scale(0.67) rotate(180deg);
        color: #777;
    }
    60% {
        transform: translate(-250%, 10px) scale(0.67) rotate(180deg);
        color: #777;
    }
    61% {
        transform: translate(-300%, 0px) scale(1) rotate(0);
        color: white;
    }
    100% {
        transform: translate(-50%, 0px) scale(1) rotate(0);
    }
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes blink {
    0% {
        background: #4f4f9a;
    }
    50% {
        background: #b3b3ea;
    }
    100% {
        background: #4f4f9a;
    }

}
